# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/*.log

# TypeScript
dist/
*.tsbuildinfo

# Optional: if you're using dotenv
.env

# Optional: if you're using a coverage tool like istanbul
coverage/
